{% extends 'navbar.html' %}
{% block nav %}


<style>

    .h-equal {
  height: 300px;  /* Adjust height as needed */
  overflow: hidden;  /* Hide any overflowing content */
}

.story-image {
  object-fit: cover;  /* Resize images to fill the card while maintaining aspect ratio */
}
#id:hover{
  transform: scale(1.05);
  
}

</style>
<br><br><br>
<div class="container">
<div class="row story-options mt-1 m-0 ">
  {% for i in Posting %}
        <div class="col-md-3">
          <div class="card mb-3 story-option d-flex flex-column justify-content-center align-items-center h-equal">
            <img src="{{ i.image.url }}" alt="feed image" class="img-fluid story-image" data-toggle="modal" data-target="#storyModal-{{ i.id }}">

            <p class="card-text story-caption d-none">{{ i.caption }}</p>

            <div class=" d-flex flex-column justify-content-end">
              </div>
          </div>
        </div>

        <div class="modal fade" id="storyModal-{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel-{{ i.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="storyModalLabel-{{ i.id }}">Image Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <img src="{{ i.image.url }}" alt="feed image" class="img-fluid">
                  </div>
                  <div class="col-md-6">
                    <p class="card-text story-caption-modal">{{ i.caption }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}


    <!-- comment option -->
    <ul class="list-group">
      {% for comment in comments %}
        <li class="list-group-item">
          <p><b>@{{ comment.user.username }}</b> - {{ comment.content }}</p>
          <span class="text-muted">Posted: {{ comment.created_at }}</span>
        </li>
      {% endfor %}
    </ul>

    <!-- <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="text">
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form> -->


</div>
</div>  
  

{% endblock nav %}