<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <style>
            /* .feed_killer{
                height: 300px;
                width: 250px;

            } */
            /* .story-option{
                height: 600px;
               
            } */
        </style>

    </head>

    <body>

    
    <nav class="navbar navbar-expand-lg fixed-top bg-danger">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#">School Way <i class="bi bi-newspaper"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto"> <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'details' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto"> <input class="form-control me-2" type="search" placeholder="Search for creators, schools, and projects" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>

                <div class="d-flex align-items-center ms-1 ms-3"> <a href="{% url 'newsupload' %}" class="btn btn-primary">upload news</a>
                    <button class="btn btn-link p-0 ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#profileSidebar" aria-controls="profileSidebar">
                        <i class="fa-solid fa-user-circle fa-lg"></i> </button>
                </div>
                <div>
                    <a class="navbar-brand rounded-circl" href="#">
                        <img src="https://www.hdwallpapersfreedownload.com/uploads/large/animals/monkey-wallpapers-hd.jpg" width="30" height="30" class="rounded-circl" alt="profile image">
                    </a>
                </div>
            </div>
        </div>
    </nav>
<br><br>


<div class="container">
    <div class="row story-options mt-5 ">
        {% for i in news %}
          <div class="col-md-3">
            <div class="card mb-3 story-option d-flex flex-column justify-content-center align-items-center ">
              <img src="{{ i.image.url }}" alt="Story Image" id="id" class="img-fluid story-image">
              <div class=" d-flex flex-column justify-content-end">
                <p class="card-title"> @{{i.user}} </p>
                <p class="card-text">{{i.caption}}</p>
    
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

<br><br>      
</body>
</html> 

